
<li>@Html.ActionLink("Home", "Index", "Home")</li>
<li>@Html.ActionLink("Doctor", "Index", "Doctors")</li>
<li>@Html.ActionLink("Nurse", "Index", "Nurses")</li>
<li>@Html.ActionLink("Ward", "Index", "Wards")</li>
<li>@Html.ActionLink("Patient", "Index", "Patients")</li>
